<div class="container mt-4" *ngIf="records">
  <div class="row content-center">
    <div class="col-6">
      <h2>Rögzített oltások</h2>
    </div>
    <div class="col-4 content-end">
      <button mat-mini-fab color="primary" (click)="open()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="row content-center mt-2 mb-2" *ngIf="records?.length > 0">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><b>Oltás neve</b></th>
        <td mat-cell *matCellDef="let element">{{ element.vaccineName }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef><b>Oltás időpontja</b></th>
        <td mat-cell *matCellDef="let element">{{ element.date | date: 'yyyy. MM. dd.' }}</td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="align-end text-end">
          <button mat-icon-button (click)="openEdit(element.id)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="deleteRecord(element.id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div *ngIf="records.length === 0" class="content-center mb-2">
    Nincs korábban rögzített oltás.
  </div>
  <div class="content-center">
    <mat-paginator
      [length]="length"
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="5"
      (page)="pageEvent = loadRecords($event)"
    >
    </mat-paginator>
  </div>
  <div class="content-center my-3">
    <button mat-button color="primary" (click)="close()">Bezárás</button>
  </div>
</div>
