@import '../../../../../styles.scss';

.day-item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 1px;
  text-align: center;
  font-weight: bold;
  border: 1px solid $text-color;
  border-radius: 5px;
  font-size: large;
  user-select: none;
}

.selected-day {
  color: $dark-blue;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  background-color: $light-blue;
}

.not-selected-day {
  color: $text-color;
  background-color: white;
  cursor: pointer;
}

input[type='time'] {
  color: $text-color;
  font-weight: bold;
  border: 1px solid $dark-blue;
  font-size: larger;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  margin-left: 5px;
}
