<div class="container">
  <div class="d-flex justify-content-between px-3 pt-3">
    <h2 class="mb-0">Új szabadság rögzítése</h2>
    <h2 class="mb-0"><i class="fas fa-plane-departure"></i></h2>
  </div>
  <hr class="mx-2" />
  <div class="row content-center px-3">
    <mat-form-field appearance="fill">
      <mat-label>Válassz intervallumot</mat-label>
      <mat-date-range-input [formGroup]="addHolidayForm" [rangePicker]="picker">
        <input matStartDate formControlName="startDate" placeholder="Első nap" />
        <input matEndDate formControlName="endDate" placeholder="Utolsó nap" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="addHolidayForm.controls.startDate.hasError('matStartDateInvalid')"
        >Hibás első nap formátum
      </mat-error>
      <mat-error *ngIf="addHolidayForm.controls.endDate.hasError('matEndDateInvalid')"
        >Hibás utolsó nap formátum
      </mat-error>
    </mat-form-field>
  </div>
  <div class="content-center form-group text-center my-3">
    <button
      mat-raised-button
      [disabled]="!addHolidayForm.valid"
      class="me-2"
      (click)="addHoliday()"
    >
      Mentés
    </button>

    <button type="button" mat-button (click)="close()">Mégsem</button>
  </div>
</div>
