@page
@model Veterinary.Api.Pages.Account.ForgotPasswordModel
@{
}

<div class="content row">
    <div class="col-12 left-box">
        <div class="login-text">Jelszó emlékeztető e-mail</div>
        <form method="post" class="input-container">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="label">
                <input class="input" placeholder="E-mail cím" type="text" asp-for="Email"/>
                <span></span>
                @if (ViewData.ModelState.ContainsKey("Email"))
                {
                    <span asp-validation-for="Email" class="error-text"></span>
                }
            </div>
            <button class="login-button">Küldés</button>
            <div class="bottom-text">
                Mégis emlékszel a jelszavadra?
                <a href="@Model.ReturnUrl" class="ml-3">Lépj be!</a>
            </div>
        </form>
    </div>
</div>
