@page
@using Microsoft.AspNetCore.Http.Extensions
@model LoginModel
@{
    ViewData["Title"] = "Bejelentkezés";
}

<div class="content row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 left-box">
        <div class="login-text">Bejelentkezés</div>
        <form method="post" class="input-container">
            <div class="label">
                <input class="input" placeholder="E-mail cím" type="text" asp-for="Username" required minlength="3" />
                <span></span>
            </div>
            <div class="label">
                <input class="input" placeholder="Jelszó" type="password" asp-for="Password" required minlength="6" />
                <span></span>
            </div>
            @if (Model.Errors.Count > 0)
            {
                <div class="alert alert-danger">
                    @foreach (var error in Model.Errors)
                    {
                        <p class="m-0">@error</p>
                    }
                </div>            
            }
            <div class="bottom-input-container">
                <div class="col-5">
                    <input type="checkbox" id="remember-me" class="input-checkbox" asp-for="RememberMe" />
                    <label for="remember-me"> Emlékezz rám</label>
                </div>
                <a class="col-7 input-forgot-pw" href="@Url.Page("/Account/ForgotPassword", new { returnUrl = Request.GetEncodedUrl() })">Elfelejtett jelszó?</a>
            </div>

            <button name="action" value="login" class="login-button">Belépés</button>
            <div class="bottom-text">
                Nincs még fiókod?
                <a href="@Url.Page("/Account/Register", new { returnUrl = Request.GetEncodedUrl() })" class="ml-3">Regisztrálj!</a>
            </div>
        </form>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 right-box">
        <img src="https://drive.google.com/uc?export=view&id=1FCNrnvOMWr8awapc43OCxL3eh0aUoPrp" class="bunny-image" />
    </div>
</div>