@page
@model Veterinary.Api.Pages.Account.LogoutModel
@{
}

<div class="content row">
    <div class="col-12 left-box">
        <div class="login-text">Kijelentkezés</div>
        <form method="post" class="input-container">
            Biztosan ki szeretnél jelentkezni?
            <button class="login-button" name="action" type="submit" value="logout">Kilépés</button>
            <div class="bottom-text">
                Meggondoltad magad?
                <button class="logout-button ml-3" name="action" type="submit" value="cancel">Kijelentkezés megszakítása</button>
            </div>
        </form>
    </div>
</div>
