@page
@model Veterinary.Api.Pages.Account.RegisterModel
@{ ViewData["Title"] = "Regisztráció";
                Layout = "_Layout"; }

<div class="content row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 left-box">
        <div class="login-text">Regisztráció</div>
        <form method="post" class="input-container">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="label">
                <input class="input" placeholder="Teljes név" type="text" asp-for="Name" required minlength="1" />
                <span></span>
                @if (ViewData.ModelState.ContainsKey("Name"))
                {
                    <span asp-validation-for="Name" class="error-text"></span>
                }
            </div>
            <div class="label">
                <input class="input" placeholder="E-mail cím" type="text" asp-for="Username" required minlength="3" />
                <span></span>
                @if (ViewData.ModelState.ContainsKey("Username"))
                {
                    <span asp-validation-for="Username" class="error-text"></span>
                }
            </div>
            <div class="label">
                <input class="input" placeholder="Jelszó" type="password" asp-for="Password" />
                <span></span>
                @if (ViewData.ModelState.ContainsKey("Password"))
                {
                    <span asp-validation-for="Password" class="error-text"></span>
                }
            </div>
            <div class="label">
                <input class="input" placeholder="Jelszó ismét" type="password" asp-for="ConfirmPassword" />
                <span></span>
                @if (ViewData.ModelState.ContainsKey("ConfirmPassword"))
                {
                    <span asp-validation-for="ConfirmPassword" class="error-text"></span>            
                }
            </div>
            <button name="action" value="register" class="login-button">Regisztráció</button>
            <div class="bottom-text">
                Már van fiókod?
                <a href="@Model.ReturnUrl" class="ml-3">Lépj be!</a>
            </div>
        </form>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 right-box">
        <img src= "~/images/Realistic-Bunny.png" class="bunny-image" />
    </div>
</div>
