<div class="container mt-4">
  <div class="row" *ngIf="animal && editAnimalForm">
    <div class="col-4">
      <h2 class="ms-2 my-2">{{ animal.name }} adatai</h2>
    </div>

    <div class="col-8 mt-2">
      <div class="alert alert-info" *ngIf="editAnimalForm.dirty">
        <strong>Információ: </strong> Alapadatokat módosítottál, ami mentés
        nélkül elveszik. Ne felejts el menteni.
      </div>
    </div>

    <div class="col-4 mb-4">
      <div class="card">
        <img
          src="{{ animal.photoUrl }}"
          alt="{{ animal.name }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <div>
            <strong>Név:</strong>
            <p>{{ animal.name }}</p>
          </div>
          <div>
            <strong>Neme:</strong>
            <p>{{ animal.sex }}</p>
          </div>
          <div>
            <strong>Kor:</strong>
            <p>{{ animal.age }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Alapadatok</a>
          <ng-template ngbNavContent>
            <form
              class="p-3"
              [formGroup]="editAnimalForm"
              (ngSubmit)="
                editAnimalForm.valid && editAnimalForm.dirty && updateAnimal()
              "
              autocomplete="off"
            >
              <h2 class="">Adatok szerkesztése</h2>
              <hr />

              <mat-form-field class="full-width">
                <mat-label>Állat neve:</mat-label>
                <input matInput formControlName="name" required />
                <mat-error *ngIf="editAnimalForm.get('name').invalid"
                  >Az állat neve nem lehet üres.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Születési dátum:</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [max]="maxDate"
                  formControlName="dateOfBirth"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="editAnimalForm.get('dateOfBirth').invalid"
                  >Születési dátum megadása kötelező.</mat-error
                >
              </mat-form-field>

              <div class="full-width">
                <mat-label>Állat neme:</mat-label>
              </div>
              <div class="full-width">
                <mat-radio-group formControlName="sex">
                  <mat-radio-button class="ms-4 me-3" value="hím"
                    >hím</mat-radio-button
                  >
                  <mat-radio-button value="nőstény">nőstény</mat-radio-button>
                </mat-radio-group>
              </div>

              <mat-form-field class="full-width">
                <mat-label>Állat fajtája:</mat-label>
                <mat-select formControlName="speciesid">
                  <mat-option *ngFor="let spec of speciesList" [value]="spec.id"
                    >{{ spec.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Állat alfaja:</mat-label>
                <input matInput formControlName="subspecies" />
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Állat súlya:</mat-label>
                <input matInput formControlName="weight" />
              </mat-form-field>
              <button
                [disabled]="!editAnimalForm.dirty"
                type="submit"
                class="btn btn-dark btn-block"
              >
                Módosítások mentése
              </button>
            </form>
          </ng-template>
        </li>

        <li [ngbNavItem]="2">
          <a ngbNavLink>Fénykép</a>
          <ng-template ngbNavContent>
            <h2 class="">Fénykép szerkesztése</h2>
            <p>
              Jelenlegi fénykép törlése, vagy azonnali csere új kép
              feltöltésével.
            </p>
            <div class="pb-3">
              <button
                [disabled]="
                  animal.photoUrl ===
                  'https://digitalodishaedu.in/wp-content/themes/fox/images/placeholder.jpg'
                "
                mat-raised-button
                class="me-2"
                (click)="deletePhoto()"
              >
                Fénykép törlése
              </button>
              <button
                type="button"
                mat-raised-button
                (click)="fileInput.click()"
              >
                Fénykép kiválasztása
              </button>
              <input
                hidden
                (change)="fileChangeEvent($event)"
                #fileInput
                type="file"
                id="file"
              />
            </div>

            <div class="row" *ngIf="imageChangedEvent">
              <div class="col-8 dflex justify-content-center">
                <div class="row dflex justify-content-center">
                  <div style="width: 350px; max-height: 350px">
                    <image-cropper
                      [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true"
                      [aspectRatio]="4 / 4"
                      [resizeToWidth]="256"
                      format="png"
                      (imageCropped)="imageCropped($event)"
                    >
                    </image-cropper>
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-8 justify-content-center" *ngIf="croppedImage">
              <button class="mt-2" mat-raised-button (click)="updatePhoto()">
                Fénykép feltöltése
              </button>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
