<header>
  <nav class="navbar navbar-light navbar-expand-lg p-0">
    <a class="navbar-brand ms-5" [routerLink]="['/']">
      <img
        src="../../../assets/Realistic-Bunny.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link" [routerLink]="['/']">Kezdőlap</a>
        </li>
        <ng-container *ngIf="getRole() === 'User'">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/animals', getUserId()]">Állataim</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/appointments/create', getUserId()]"
              >Időpontfoglalás</a
            >
          </li>
          <li class="nav-item" [routerLink]="['/appointments/list/user', getUserId()]">
            <a class="nav-link" [routerLink]="['/']">Időpontjaim</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/medical-records/user-records', getUserId()]"
              >Kórlapok</a
            >
          </li>
        </ng-container>

        <ng-container *ngIf="getRole() === 'NormalDoctor' || getRole() === 'ManagerDoctor'">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/medical-records/new']">Új kórlap</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" (click)="bookingMenu()">Időpont adása</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
            >
              Gazdi menü
            </a>
            <div class="dropdown-menu">
              <a class="nav-link" [routerLink]="['/animals', getUserId()]">Állataim</a>
              <a class="nav-link" [routerLink]="['/appointments/create', getUserId()]"
                >Időpontfoglalás</a
              >
              <a class="nav-link" [routerLink]="['/appointments/list/user', getUserId()]"
                >Időpontjaim</a
              >
              <a class="nav-link" [routerLink]="['/medical-records/user-records', getUserId()]"
                >Kórlapok</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
            >
              Műveletek
            </a>
            <div class="dropdown-menu">
              <a class="nav-link" [routerLink]="['/treatments', getUserId()]">Kezeléseim</a>
              <a class="nav-link" [routerLink]="['/appointments/list/doctor', getUserId()]"
                >Foglalt időpontok</a
              >
              <a class="nav-link" [routerLink]="['/holidays', getUserId()]">Szabadságok</a>
              <a class="nav-link" [routerLink]="['/users']">Gazdik</a>
            </div>
          </li>
        </ng-container>

        <ng-container *ngIf="getRole() === 'ManagerDoctor'">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
            >
              Beállítások
            </a>
            <div class="dropdown-menu">
              <a class="nav-link" [routerLink]="['/templates']">Kórlap sablonok</a>
              <a class="nav-link" [routerLink]="['/doctors']">Orvosok</a>
              <a class="nav-link" [routerLink]="['/species']">Állatfajták</a>
              <a class="nav-link" [routerLink]="['/vaccines']">Oltások</a>
              <a class="nav-link" [routerLink]="['/medications']">Gyógyszerek</a>
              <a class="nav-link" [routerLink]="['/therapias']">Szolgáltatások</a>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <p class="nav-item mb-0 cursor-pointer" (click)="logOut()">Kijelentkezés</p>
  </nav>
</header>
