@import '../../../styles.scss';

nav {
  background-color: rgba(white, 0.5);
  font-family: 'Baloo';
  font-size: large;
  border-bottom: 1px solid $nav-border-color;
  color: $text-color;
  p {
    margin-right: 1em;
  }
}

.nav-item .nav-link {
  color: $text-color;
}

.nav-link {
  cursor: pointer;
}

.dropdown-item {
  color: $text-color;
}

.dropdown-menu {
  border: 1px solid $nav-border-color;
}

.cursor-pointer {
  cursor: pointer;
}
