<div class="container" *ngIf="treatment">
  <form
    class="p-3"
    [formGroup]="editTreatmentForm"
    (ngSubmit)="editTreatmentForm.valid && update()"
    autocomplete="off"
  >
    <div class="d-flex justify-content-between">
      <h2 class="mb-0">Kezelés szerkesztése ({{ treatment.name }})</h2>
      <h2 class="mb-0"><i class="fas fa-pills"></i></h2>
    </div>
    <hr />
    <mat-form-field class="full-width">
      <mat-label>Kezelés neve:</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="editTreatmentForm.get('name').invalid">A mező nem lehet üres.</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Kezelés időtartama:</mat-label>
      <input type="number" matInput formControlName="duration" required />
      <mat-error *ngIf="editTreatmentForm.get('duration').invalid"
        >A kezelés időtartamának egész számnak kell lennie.</mat-error
      >
    </mat-form-field>

    <div class="content-center form-group text-center">
      <button
        mat-raised-button
        [disabled]="!editTreatmentForm.valid"
        class="mt-3 me-2"
        type="submit"
      >
        Mentés
      </button>

      <button type="button" mat-button class="mt-3" (click)="close()">Mégsem</button>
    </div>
  </form>
</div>
