<!-- 
  <div class="content-center">
  <div class="home-body">
    <app-home-header [userInfo]="userInfo"></app-home-header>
    <div class="m-3 home-body-text">
      <ng-container *ngIf="userInfo.role === 'User'">
        <app-home-user></app-home-user>
      </ng-container>
      <ng-container *ngIf="userInfo.role === 'NormalDoctor' || userInfo.role === 'ManagerDoctor'">
        <app-home-doctor [doctorId]="userInfo.id"></app-home-doctor>
      </ng-container>
    </div>
  </div>
</div>

 -->
<div style="padding: 3rem">
  <div style="display: flex; justify-content: space-between">
    <p>Veterinary állatkórház - kórlap</p>
    <p>Generálva: 2021.10.11 6:00</p>
  </div>
  <div>
    <h1 class="text-center">Kórlap</h1>
  </div>
  <div style="display: flex; justify-content: center">
    <table style="background-color: #f5f5f5; width: 100%">
      <tr>
        <th><u>Tulajdonos adatai:</u></th>
        <th><u>Állat adatai:</u></th>
      </tr>
      <tr>
        <td style="height: 10px !important" colspan="2"></td>
      </tr>
      <tr>
        <td>Dr.Teszt Elek</td>
        <td>Állat kód: 1234</td>
      </tr>
      <tr>
        <td>E-mail:</td>
        <td>Név:</td>
      </tr>
      <tr>
        <td>teszt@teszt.hu</td>
        <td>Állat kód: 1234</td>
      </tr>
      <tr>
        <td>Dr.Teszt Elek</td>
        <td>Madzag</td>
      </tr>
      <tr>
        <td>Telefonszám:</td>
        <td>Fajta: lógófülü</td>
      </tr>
      <tr>
        <td>+3620212020</td>
        <td>Születési dátum: 2018 04 23</td>
      </tr>
      <tr>
        <td>TKód: goifrjedrjfdgkjfdg</td>
        <td>Nem: hím</td>
      </tr>
      <tr>
        <td></td>
        <td>Legutóbbi súly: 2 kg</td>
      </tr>
    </table>
  </div>
  <div>
    <b><u>Kórlap:</u></b>
    <p></p>
    <b>Dátum:</b>
    <p style="padding: 0px; margin: 0px"></p>
    <b>Klinika, orvos: Dr. Doki Doki</b>
  </div>

  <div style="margin-bottom: 30px">innerHtml content</div>

  <b><u>Alkalmazott gyógyszerek:</u></b>
  <table style="width: 50%; margin-bottom: 30px">
    <tr>
      <th>Azonosító</th>
      <th>Megnevezés</th>
      <th>Mennyiség</th>
    </tr>
    <tr>
      <td>zthggfhtfghfghfg</td>
      <td>Cerucal</td>
      <td>1 üvegcse</td>
    </tr>
  </table>
  <b><u>Alkalmazott szolgáltatások:</u></b>
  <table style="width: 100%">
    <tr>
      <th>Azonosító</th>
      <th>Megnevezés</th>
      <th>Mennyiség</th>
    </tr>
    <tr>
      <td>zthggfhtfghfghfg</td>
      <td>Cerucal</td>
      <td>1 üvegcse</td>
    </tr>
  </table>
</div>
