@import '../../../../styles.scss';

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
  text-decoration: underline;
}

.container {
  width: 55%;
  background-color: rgba(white, 0.85);
}
