@import "../../../../styles.scss";

img {
  object-fit: scale-down;
}

.user-info-component {
  width: 60%;
}

choose-other {
  cursor: pointer;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $text-color;
}
