<div class="container">
  <form
    class="p-3"
    [formGroup]="addSpeciesForm"
    (ngSubmit)="addSpeciesForm.valid && add()"
    autocomplete="off"
  >
    <div class="d-flex justify-content-between">
      <h2 class="mb-0">Új állatfaj felvitele</h2>
      <h2 class="mb-0"><i class="fab fa-earlybirds"></i></h2>
    </div>
    <hr />
    <mat-form-field class="full-width">
      <mat-label>Állatfaj neve:</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="addSpeciesForm.get('name').invalid"
        >A mező nem lehet üres.</mat-error
      >
    </mat-form-field>

    <div class="content-center form-group text-center">
      <button
        mat-raised-button
        [disabled]="!addSpeciesForm.valid"
        class="mt-3 me-2"
        type="submit"
      >
        Mentés
      </button>

      <button type="button" mat-button class="mt-3" (click)="close()">
        Mégsem
      </button>
    </div>
  </form>
</div>
