<h2>Kezelési lapok:</h2>
<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let med of meds">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ med.date | date: 'yyyy. MM. dd. HH:mm' }} - Kórlap </mat-panel-title>
      <mat-panel-description class="d-flex justify-content-end">
        <mat-icon
          *ngIf="role !== 'User'"
          class="me-2"
          [routerLink]="['../../medical-records/new', { recordId: med.id }]"
          >edit
        </mat-icon>
        <mat-icon class="noselect" (click)="genPdf(med.id)">picture_as_pdf</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h5><strong>Kórlap:</strong></h5>
    <h5><strong>Orvos:</strong></h5>
    {{ med.doctorName }}
    <div class="mt-2">
      <h4 class="pb-0 mb-0"><strong>Kórlap tartalma:</strong></h4>
      <div *ngIf="!med.htmlContent">Nincs kitöltve.</div>
      <div [innerHtml]="med.htmlContent"></div>

      <h5 class="pb-1"><strong>Kezelés során használt gyógyszerek:</strong></h5>
      <table class="table ms-2" style="width: 55%" *ngIf="med.medicationRecords.length > 0">
        <thead>
          <th class="p-0">Azonosító</th>
          <th class="p-0" style="width: 15%">Mennyiség</th>
          <th class="p-0" style="width: 30%">Megnevezés</th>
        </thead>
        <tbody>
          <tr></tr>
          <tr *ngFor="let medication of med.medicationRecords">
            <td class="p-0">#{{ medication.medicationId }}</td>
            <td class="p-0" style="width: 15%">
              {{ medication.amount }} {{ medication.unitName }}
            </td>
            <td class="p-0" style="width: 30%">
              {{ medication.name }}
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="med.medicationRecords.length === 0">Nincs kitöltve.</div>

      <h5 class="pb-1"><strong>Igénybe vett szolgáltatások:</strong></h5>
      <table class="table ms-2" style="width: 55%" *ngIf="med.therapiaRecords.length > 0">
        <thead>
          <th class="p-0">Azonosító</th>
          <th class="p-0" style="width: 15%">Mennyiség</th>
          <th class="p-0" style="width: 30%">Megnevezés</th>
        </thead>
        <tbody>
          <tr></tr>
          <tr *ngFor="let therapia of med.therapiaRecords">
            <td class="p-0">#{{ therapia.therapiaId }}</td>
            <td class="p-0" style="width: 15%">{{ therapia.amount }} db</td>
            <td class="p-0" style="width: 30%">
              {{ therapia.name }}
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="med.therapiaRecords.length === 0">Nincs kitöltve.</div>

      <div class="mt-3">
        <strong>Csatolt képek:</strong>
        <div *ngIf="med.photoUrls.length > 0">
          <ng-container *ngFor="let photoUrl of med.photoUrls" style="width: 200px">
            <img
              src="{{ photoUrl }}"
              alt=""
              style="width: 150px"
              class="pr-3"
              (click)="enlargeImage(photoUrl)"
            />
          </ng-container>
        </div>
        <div *ngIf="med.photoUrls.length === 0">Nincs kép a kórlaphoz rögzítve.</div>
      </div>
    </div>
    <div></div>
  </mat-expansion-panel>
</mat-accordion>
